body {
    cursor: url(/cursor.cur), auto;
}

a {
    cursor: url(/link.cur), auto;
}

h1.post-title {
    margin-top: 0px !important;
}

.post {
    margin: 0px auto !important;
    padding: 0px auto !important;
}

.index-content {
    margin-top: 0px !important;
}