<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (gt (len $.Site.Home.AllTranslations) 1) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
  {{- /* Filled in by fun.js: Buenos Aires time and weather, and the last commit. */}}
  <div id="site-status" class="site-status" hidden>
    <span id="status-clock"></span>
    <span id="status-weather" hidden></span>
    <span id="status-commit" hidden></span>
  </div>
</header>
