<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      {{ partial "logo.html" . }}
    </div>
    {{ if len $.Site.Menus }}
      {{ partial "mobile-menu.html" . }}
    {{ end }}
    {{ if and $.Site.Params.showLanguageSelector (gt (len $.Site.Home.AllTranslations) 1) }}
      {{ partial "language-menu.html" . }}
    {{ end }}
  </div>
  {{ if len $.Site.Menus }}
    {{ partial "menu.html" . }}
  {{ end }}
  {{- /* Filled in by fun.js: Buenos Aires clock, last commit and rings. */}}
  <div id="site-status" class="site-status" hidden>
    <span id="status-clock"></span>
    <span id="status-commit" hidden></span>
    <span class="ring-counter" hidden><span class="fun-ring fun-ring-icon" aria-hidden="true"></span><span id="ring-count">0</span></span>
  </div>
</header>
